<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/messageForm.css">
    <title>Become a Member</title>
</head>

<body>
    <div class="content">
        <h1 class="formTitle">Become a Member</h1>
        <%- include('nav') %>
            <% if (locals.currentUser) {%>
                <p class="normalLabel">Answer the riddle to join the club. </p>
                <form class="formContainer" action="/beMember" method="POST">
                    <div class="inputContainer">
                        <label class="normalLabel" for="memberApp">The more there is, the less you see. What is it?</label>
                        <input class="smallInput" name="memberApp" id="memberApp" type="text">
                        <%- include('formError', {errors: errors, selector: 'memberApp' }) %> 
                    </div>
                    <button class="submitButton" type="submit">Submit</button>
                </form>
                <%}%>
    </div>
</body>

</html>