<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Become a member</h1>
<%- include('nav') %> 
<% if (locals.currentUser) {%>
    <p class="riddleBody">Answer the riddle to join the club. </p>
    <form action="/beMember" method="POST">
        <label for="memberApp">The more there is, the less you see. What is it?</label>
        <input name="memberApp" id="memberApp" type="text" >
        <button type="submit">Submit</button>
    </form>
    <%}%>
</body>
</html>