<li class="error">
    <% if (errors) {%>
        
        <% errors.forEach(function(error) { %>
          
          <%if (error.path == selector) { %>
              
              <%= error.msg %>
          <%}%>
          
        <% }); %>
      
    <% } %>
 </li>