
<div class="messageContainer">
    <% if(messages) { %>
        <% messages.forEach((message) => { %>
            <h6 class="messageTitle"><%= message.title%></h6>
            <p class="messageBody"> <%= message.message %></p>
             <%if (locals.currentUser) { if (locals.currentUser.member) {%>
                <p class="messageTime"><%= message.timestamp %></p>
                <p class="messageAuthor"> <%= message.username %></p>
        <%}}})}%>
</div>