<div class="nav">
    <a href="/">Home</a>
    <a href="/sign-up">Sign Up</a>
    <a href="/log-in">Log in</a>
    <a href="/member">Become a Member</a>
    <a href="/message">Write a message</a>
</div>