<div class="nav">
    <a href="/">Home</a>

    <% if (!locals.currentUser) { %>
    <a href="/sign-up">Sign Up</a>
    <a href="/log-in">Log in</a>
    <% } %>

    <% if (locals.currentUser) { if (!locals.currentUser.member) {%>
    <a href="/member">Become Member</a>
    <% }} %>

    <% if (locals.currentUser) { %>
    <a href="/message">Write message</a>
    <% } %>
</div>